.container {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 30%;
  transform: translateY(-50%);
}

button {
  background: none;
  border: none;
}

.play-pause-button {
  height: 48px;
  width: 48px;
}
