.container {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 40%;
  transform: translateY(-50%);
}

button {
  background: none;
  border: none;
}

.controllers-container {
  display: flex;
}

.controllers {
  margin: auto;
  display: flex;
  align-items: center;
}

.play-pause-button {
  height: 3rem;
  width: 3rem;
}

.prev-next-button {
  width: 2.25rem;
  height: 2.25rem;
}
