body {
  background-color: #e7e7e7;
}

.container {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
}

.player {
  max-width: 300px;
  height: auto;
  margin: auto;
  padding: 1rem 0rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 1.8rem;
  box-shadow: 0px 15px 85px -5px rgb(59 62 67 / 32%);
}

.drag-symbol {
  width: 44px;
  height: 5px;
  margin: auto;
  margin-top: 1rem;
  border-radius: 50px;
  background-color: #e7e7e7;
}

.tag {
  font-size: .9rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 800;
}

.music-cover {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 260px;
  height: 260px;
  margin: auto;
  border-radius: 1.3rem;
  position: relative;
  left: 0;
  top: 0;
  background: url('https://images.unsplash.com/photo-1671373778066-ba643d988ef8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=700&q=60');
}

.music-cover:before {
  content: '';
  background: inherit;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  top: 30px;
  left: 0px;
  transform: scale(0.9);
  filter: blur(15px);
  opacity: 0.8;
  border-radius: 3rem;
}

.music-cover:after {
  content: '';
  background: inherit;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  position: absolute;
  border-radius: 1.3rem;
}

.music-information {
  padding: 0rem 2rem;
}

.title {
  margin-top: 2rem;
  margin-bottom: 0rem;
  text-align: left;
}

.subtitle {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  text-align: left;
  color: #6c7179;
  font-size: 14px;
}

button {
  background: none;
  border: none;
}

.time-bar {
  margin: 0rem 2rem;
}

.time {
  display: flex;
  margin: auto;
  margin-top: 0.5rem;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 700;
}

.time-current {
  margin-right: 2rem;
}

.timeline {
  margin-top: 1rem;
  width: 100%;
}

.controllers-container {
  display: flex;
}

.controllers {
  margin: auto;
  display: flex;
  align-items: center;
}

.play-pause-button {
  height: 3rem;
  width: 3rem;
}

.prev-next-button {
  width: 2.25rem;
  height: 2.25rem;
}


input[type='range'] {
  -webkit-appearance: none;
  height: 4px;
  width: 100%;
  border-radius: 50px;
  background-color: rgb(236, 236, 236);
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: pink;
  cursor: pointer;
}
